require 'dashing'

configure do
  #set :auth_token, 'YOUR_AUTH_TOKEN'

  # Please configure your Icinga access here
  #set :icinga_cgi,  'http://localhost/cgi-bin/icinga/status.cgi'
  #set :icinga_user, 'icingaadmin'
  #set :icinga_pass, 'test123'

  #set :aws_region, 'ap-your-aws-region'
  #set :aws_access_key_id, 'YOUR_AWS_ACCESS_KEY_ID'
  #set :aws_secret_access_key, 'YOUR_AWS_SECRET_ACCESS_KEY'

  helpers do
    def protected!
     # Put any authentication code you want in here.
     # This method is run before accessing any resource.
    end
  end
end

set :default_dashboard, 'dashing/icinga'
set :assets_prefix, '/dashing/assets'

map Sinatra::Application.assets_prefix do
  run Sinatra::Application.sprockets
end

run Rack::URLMap.new('/dashing' => Sinatra::Application)
