<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Icinga dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga-hosts" data-view="Simplemon" data-title="Icinga hosts"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga-hosts-latest" data-view="Table" data-title="Icinga host problems" class="latest-problems"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="icinga-services-latest" data-view="Table" data-title="Icinga service problems" class="latest-problems"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="icinga-services" data-view="Simplemon" data-title="Icinga services"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cloudwatch-alarms-ok" data-view="Simplemon" data-title="CloudWatch checks ok"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cloudwatch-alarms-failed" data-view="Simplemon" data-title="CloudWatch problems" class="latest-problems"></div>
    </li>
  </ul>
</div>
